
<% if @item.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@item.errors.count, "error") %> <%=t("automatic_reports.error_saving_auto_report")%></h2>

		<ul>
			<% @item.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

Enter the Item information.

	<%= form_for :item, url: {action: "create"}, method: "post"  do |k| %>
		Name: <%=k.text_field :name%><br />
		Price: <%=k.text_field :price%><br />
		<%=k.submit%>
	<% end %>